body {
    background-color: transparent;
    overflow: hidden;
    background: #000032;
}
.container {
    position: fixed;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    width: 35%;
    height: 100%;
}

.txtarea {
    outline: none;
    border: solid 1px #BBB;
    font-size: 15px;
    height: 200px;
    width: 300px;
    background-color: #fff;
    overflow: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.txtarea::-webkit-scrollbar {
    width: 3px;
}

.txtarea::-webkit-scrollbar-track {
    background: #ddd;
}

.txtarea::-webkit-scrollbar-thumb {
    background: #aaa;
}

#startButton {
    background-color: #A6A6A6;
    color: #000032;
}

.fullsz {
    width: 300px;
}

#chats {
    margin-bottom: 0px;
}

.inp-conta {
    padding-top: 100px;
}

.back-inp {
    background-color: #A6A6A6;
    padding: 0.25rem;
    position: fixed;
    display: flex;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    width: 300px;
}

#msg {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    width: 300px;
}
#list-users {
    width: 300px;
    max-height: 500px;
    overflow: auto;
}
.nav-item .nav-link,
.list-group .list-group-item {
    position: relative;
    border-radius: .25rem .25rem 0 0;
    background-color: #ffffff;
    color: coral;
}
.nav-item .nav-link.active,
.list-group .list-group-item.active  {
    background-color: coral;
    color: #ffffff;
}
.entry-msg {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #bd1626;
    transition-duration: .5s;
    transform: scale(0);
    transform-origin: center;
}
.entry-msg.active {
    transform: scale(1);
}
.my-msg {
    background: #b1b1b1;
    text-align: right;
}
.new-msg {
    background: transparent;
    transition-duration: .75s;
}
.new-msg.active {
    background: #ccc;
}